doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Comfortaa&display=swap' rel='stylesheet')

  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
               button
                a(href='/catalog') Home
              li
               button
                a(href='/catalog/books') All books
              li
               button
                a(href='/catalog/authors') All authors
              li
               button
                a(href='/catalog/genres') All genres
              li
               button
                a(href='/catalog/bookinstances') All book-instances
              li
                hr
              li
               button
                a(href='/catalog/author/create') Create new author
              li
               button
                a(href='/catalog/genre/create') Create new genre
              li
               button
                a(href='/catalog/book/create') Create new book
              li
               button
                a(href='/catalog/bookinstance/create') Create new book instance (copy)
				
        div(class='col-sm-10')
          block content
		  
